@font-face {
  font-family: "belligerent_madnessregular";
  src: url("../fonts/belligerent-webfont.eot");
  src: url("../fonts/belligerent-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/belligerent-webfont.woff") format("woff"), url("../fonts/belligerent-webfont.ttf") format("truetype"), url("../fonts/belligerent-webfont.svg#belligerent_madnessregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/*SPINNER VARIABLES*/
/*ANIMATION VARIABLES*/
/*@import "../node_modules/bootstrap/scss/bootstrap.scss";*/
html, body {
  max-width: 100%;
  min-height: 100%;
  user-select: none;
}

body {
  background: #F4E8F0;
  font-size: 1.025em;
  position: relative;
  display: flex;
  flex-direction: column;
}

* {
  color: black;
  font-family: Raleway, Times, serif;
  margin: 0;
  padding: 0;
  font-size: 1.025em;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.logo {
  font-family: belligerent_madnessregular, Times, serif;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:hover span {
  color: #EA8834;
}

h1 {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  margin: 50px auto;
}
@media (max-width: 599px) {
  h1 {
    margin: 0 auto;
  }
}

h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

select {
  font-family: Raleway, Times, serif;
}

.font-lg {
  font-size: 1.375em;
}

p + p {
  margin: 30px 0;
}

section {
  width: 100%;
}

header {
  padding: 20px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-height: 200px;
}
@media (max-width: 599px) {
  header {
    padding: 0 20px;
  }
}
header a {
  position: relative;
  height: calc(200px - 20px - calc(10px + 10px + 20px));
  transition: all 300ms ease-in-out;
}
@media (max-width: 599px) {
  header a {
    height: calc(200px - 20px - calc(10px + 10px + 20px) - 30px);
  }
}
header a img {
  max-height: 100%;
}

nav {
  margin: auto;
  min-width: calc(calc(100% - 150px - 150px) + 20px + 20px);
}
@media (max-width: 1299px) {
  nav {
    min-width: calc(calc(100% - 100px - 100px) + 20px + 20px);
  }
}
@media (max-width: 1099px) {
  nav {
    min-width: calc(calc(100% - 50px - 50px) + 20px + 20px);
  }
}
@media (max-width: 799px) {
  nav {
    min-width: calc(calc(100%) + 20px + 20px);
    margin-left: -20px;
  }
}
nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav > ul li > ul {
  display: flex;
  flex-direction: row;
}
nav .nav-tab:not(.last-tab) {
  padding-right: 20px;
}
nav .nav-tab a {
  font-weight: bold;
  background-color: #BD97FF;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  position: relative;
  display: inline-block;
  height: 20px;
  box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
@media (max-width: 799px) {
  nav .nav-tab:first-child a {
    border-radius: 0 10px 0 0;
  }
}
nav .nav-tab.hidden:not(.active) {
  opacity: 0;
  position: absolute;
  left: -100000px;
}
nav .nav-tab:not(.active) a:hover {
  color: white;
}
@media (max-width: 799px) {
  nav .nav-tab.last-tab a {
    border-radius: 10px 0 0 0;
  }
}
nav .nav-tab.active a {
  z-index: 1;
  background-color: white;
}
nav .nav-tab.active a::after {
  content: "";
  background-color: white;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: -20px;
  height: 20px;
}
nav .nav-tab.active.last-tab a::after {
  right: 0;
}
nav#nav-product {
  margin-top: 0;
  margin-bottom: 50px;
  width: 100%;
}
nav#nav-product ol {
  display: flex;
  list-style: none;
}
nav#nav-product ol li:not(.last-tab)::after {
  content: ">";
  padding: 0 10px;
}

section header {
  padding: 0;
}

#cart {
  transition: transform 300ms ease-in-out;
  color: #9258F6;
  display: flex;
  justify-content: center;
  width: calc(150px - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
@media (max-width: 599px) {
  #cart {
    transform: scale(0.75);
    transform-origin: right center;
  }
}
#cart span.fa {
  font-size: 60px;
  padding: 20px;
  position: relative;
  color: #9258F6;
  height: 60px;
  width: 60px;
}
#cart span.fa span#cart-counter {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-size: 35%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  border: solid 2pt #9258F6;
}
#cart span.fa span#cart-counter::before {
  content: "+1";
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-size: 35%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background-color: #EA8834;
  border: solid 2pt #EA8834;
  opacity: 0;
}
#cart span.fa span#cart-counter.addOne::before {
  animation: appear 1000ms ease-in-out 1 both;
}
#cart:hover {
  text-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.3);
}
#cart:hover span#cart-counter {
  box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.3);
  color: black;
}

@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
footer {
  flex-wrap: wrap;
  width: calc(100% - 20px - 20px);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}
@media (max-width: 599px) {
  footer {
    flex-direction: column;
  }
}
@media (max-width: 1099px) {
  footer {
    justify-content: space-evenly;
  }
}
footer * {
  white-space: nowrap;
}
footer h2, footer h3 {
  width: 100%;
  padding: 20px 0;
}
footer h2 {
  font-size: 1.875em;
  font-family: belligerent_madnessregular, Raleway, Times, serif;
  font-weight: normal;
  margin-bottom: 0;
}
footer section {
  margin-top: 0;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 1099px) {
  footer section {
    max-width: 50%;
  }
}
@media (max-width: 599px) {
  footer section {
    max-width: 100%;
  }
}
footer section > ul > li + li {
  padding-top: 10px;
}
@media (max-width: 599px) {
  footer section.right {
    text-align: left;
  }
}
@media (max-width: 1099px) {
  footer section.center {
    max-width: calc(100% - 20px - 20px);
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    padding: 0 20px 20px 20px;
  }
}
@media (max-width: 599px) {
  footer section.center h3 {
    text-align: left;
  }
}
footer section.center ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer section.center ul > * {
  width: 50%;
}
footer section.center ul > * a {
  display: flex;
  flex-direction: column;
}
footer section.center ul > * a span.fas {
  font-size: 2.5em;
}
footer section li.socials {
  display: flex;
  flex-direction: row;
}
footer section li.socials ul {
  display: flex;
  flex-direction: row;
}
footer section li.socials ul li {
  flex-grow: 1;
  font-size: 2em;
}
footer section li.socials ul li + li {
  padding-left: 10px;
}
footer section li.socials ul + span {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
@media (max-width: 1300px) {
  footer section li.socials ul + span {
    display: none;
  }
}

main {
  flex: 1 0 auto;
  margin: auto;
  width: calc(100% - 150px - 150px);
  min-height: calc(100vh - 200px - 30px);
  padding: 50px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1299px) {
  main {
    width: calc(100% - 100px - 100px);
  }
}
@media (max-width: 1099px) {
  main {
    width: calc(100% - 50px - 50px);
  }
}
@media (max-width: 799px) {
  main {
    width: calc(100%);
  }
}
@media (max-width: 799px) {
  main {
    border-radius: 0px;
  }
}
@media (max-width: 599px) {
  main {
    padding: 30px;
  }
}
main.center {
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
}

div.loader {
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.loader.hidden {
  display: none;
}
div.loader .spinner {
  position: absolute;
  width: 100px;
  height: 100px;
}
div.loader .spinner:before, div.loader .spinner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 89.3333333333px;
  height: 89.3333333333px;
  border: 4pt solid #9258F6;
  border-radius: 50%;
}
div.loader .spinner:before {
  animation: expandSpinner 1s linear 0s infinite;
}
div.loader .spinner:after {
  opacity: 0;
  animation: expandSpinner 1s linear 500ms infinite;
}

@keyframes expandSpinner {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* LIST ITEMS*/
.listItems-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  min-height: calc(300px + 300px + 20px);
  padding-top: 20px;
}
.listItems-content.showed li {
  animation: itemAppearing 500ms ease-in-out backwards;
}
@keyframes itemAppearing {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.listItems-content.hidden li {
  animation: itemDisappearing 500ms ease-in-out forwards;
}
@keyframes itemDisappearing {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.listItems-content li.item {
  flex-grow: 1;
  max-width: 30%;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 4pt solid #9258F6;
  height: 300px;
  min-width: 300px;
}
.listItems-content li.item.sameRow {
  margin-right: 20px;
}
.listItems-content li.item figure {
  height: 100%;
  position: relative;
}
.listItems-content li.item figure img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.listItems-content li.item figure::before {
  content: "";
  background-color: #BD97FF;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.listItems-content li.item figure:hover figcaption * {
  opacity: 1;
}
.listItems-content li.item figure:hover::before {
  opacity: 0.75;
}
.listItems-content li.item figcaption {
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.listItems-content li.item figcaption p, .listItems-content li.item figcaption h3 {
  width: 100%;
}
.listItems-content li.item figcaption * {
  opacity: 0;
}

button {
  margin: auto;
}

.item-btn {
  background-color: transparent;
  border: none;
}
.item-btn::before {
  content: "+";
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  color: #9258F6;
  border: solid 2pt white;
  background-color: white;
  cursor: pointer;
}
.item-btn:hover::before {
  box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.3);
  color: #EA8834;
}

.btn {
  background-color: #BD97FF;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: #EA8834;
  box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.3);
}
.btn.btn-addToCart {
  max-width: auto;
}
.btn.unclickable {
  cursor: not-allowed;
  color: white;
  background-color: grey;
}
.btn.unclickable:hover {
  box-shadow: none;
}

.btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
}
.btn-close::before {
  /*        content:"\f00d";*/
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: attr(data);
  box-sizing: border-box;
  background-color: #9258F6;
  color: white;
}
.btn-close:hover::before {
  box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.3);
  background-color: #EA8834;
}

.nav-btn {
  margin-right: calc(40px + 10px + 10px);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 799px) {
  .nav-btn {
    width: calc(100% - 40px - 10px);
  }
}
.nav-btn a {
  max-height: 40px;
  line-height: 40px;
  position: relative;
}
.nav-btn a:focus {
  outline: none;
}
.nav-btn .right::after {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: attr(data);
  box-sizing: border-box;
  background-color: #9258F6;
  color: white;
  position: absolute;
  right: calc(-40px - 10px);
  top: 0;
}
.nav-btn .left::before {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: attr(data);
  box-sizing: border-box;
  background-color: #9258F6;
  color: white;
  position: absolute;
  left: calc(-40px - 10px);
  top: 0;
}
.nav-btn .left:hover::before, .nav-btn .right:hover::after {
  background-color: #EA8834;
  box-shadow: 4pt 4pt 8pt rgba(0, 0, 0, 0.3);
}

.showUL::before,
.showUL::after {
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}

.hideUL::after {
  transition: transform 300ms ease-in-out;
}

.recapDialog {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #F1EAFD;
  opacity: 0.95;
  font-size: 1.375em;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
}
.recapDialog > span {
  margin: auto;
}

.errorDialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.errorDialog p {
  font-size: 1.375em;
}

.formatError {
  position: relative;
}
.formatError::after {
  content: "Le format n'est pas correct.";
  color: red;
  font-size: 0.75em;
  display: block;
  position: absolute;
  left: calc(100% + 10px);
  bottom: -20px;
}

table {
  position: relative;
  border-collapse: collapse;
  margin: auto;
}
table tr > th {
  background-color: #F1EAFD;
  border: solid 2pt #F1EAFD;
}
table td, table th {
  padding: 20px;
  text-align: center;
}
table tr:not(:last-child):not(:first-child) > td {
  border: solid 2pt #F1EAFD;
}

article#item {
  margin: auto;
  border: solid #9258F6 2pt;
  padding: calc(20px + 20px);
  padding-top: 50px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article#item figure {
  display: flex;
  flex-direction: row;
}
article#item figure figcaption {
  flex-grow: 1;
  padding-left: calc(20px + 20px);
  display: flex;
  flex-direction: column;
}
article#item figure figcaption p + * {
  margin: 0;
  margin-top: 20px;
}
article#item figure figcaption form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
article#item figure figcaption form div {
  width: 100%;
}
article#item img {
  width: 50%;
  border-radius: 30px;
}
article#item h1 {
  margin: 0;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
  line-height: calc(20px + 20px);
  position: absolute;
  top: -20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container section {
  box-sizing: border-box;
  width: calc(50% - 20px);
  border: 2pt #9258F6 solid;
  border-radius: 20px;
  padding: 20px;
}
.container section h2 {
  text-align: center;
}
.container section form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container section form fieldset {
  border: none;
  padding-bottom: 20px;
}
.container section form fieldset legend {
  font-weight: bold;
  padding-bottom: 20px;
}
.container section form fieldset div {
  padding-left: calc(20px + 20px);
}
.container section form label {
  font-weight: bold;
  white-space: nowrap;
}
.container section form div + * {
  margin-top: 30px;
}
.container section form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.container section form div input {
  flex-grow: 1;
  margin-left: 10px;
}

main > h1 + p {
  margin-top: 50px;
}

#infosCommande {
  padding: 30px;
  border: 2pt #9258F6 solid;
}
#infosCommande figcaption {
  margin-bottom: 30px;
}
#infosCommande th {
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
