$colour-bkg-main:#F4E8F0;

$colour-primary:#9258F6;
$colour-primary--lighter:#BD97FF;
$colour-primary--bkg:#F1EAFD;

$colour-secondary:#EA8834;


$font-logo:belligerent_madnessregular;
$headings-font-family: 'Raleway', Times, serif;

$fontsize-h1:2.25em;
$fontsize-h2:1.5em;
$fontsize-h3:1.25em;

$fontsize-xlarge:1.875em;
$fontsize-large:1.375em;
$fontsize-std:1em;
$fontsize-small:0.625em;

$fontsize-icon-lg:3em;
$fontsize-icon-md:2.5em;
$fontsize-icon-sm:2em;

$margin-lg:100px;
$margin-std:30px;

