.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & section{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        min-height: $height-item;
        width:calc(50% - #{$padding-std});
        @media (max-width: 1499px) {
            width:calc(100%)
        }
        border:$border-width-md $colour-primary solid;
        border-radius: $padding-std;
        padding:$padding-std;
        & h2{
            text-align: center;
        }
        & form{
            padding:$padding-std;
            margin: auto;
            margin-top: $padding-std;
            @media (max-width: 599px) {
                padding: $padding-sm;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            & fieldset{
                border:none;
                padding-bottom:calc(#{$padding-std} + #{$padding-std} ) ;
                & legend{ 
                    font-weight: bold;
                    padding-bottom:$padding-std ;
                } 
                & div{
                    padding-left: calc(#{$padding-std} + #{$padding-std});
                    @media (max-width: 599px) {
                        padding-left: calc(#{$padding-sm} + #{$padding-sm});
                    }        
                }
            }
            & label{
                font-weight: bold;
                white-space: nowrap;
            }
            & div + *{
                margin-top: $margin-std;
            }
            & div{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                & input{
                    flex-grow: 1;
                    margin-left: $margin-sm;                    ;
                    @media (max-width: 699px) {
                        width: 100%;
                        margin-left: 0;                    ;
                    }        
                }
            }
        }
    }
}

