main > h1 + p{
    margin-top: $margin-lg;
}

#infosCommande{
    padding:$padding-dialog;
    @media (max-width: 699px) {
        padding: $padding-sm;
    }        
border: $border-width-md $colour-primary solid;
    & figcaption{
        margin-bottom: $padding-dialog;
    }
    & th{
        text-align: right;
        white-space: nowrap;
    } 
    & table {
        @media (max-width: 699px) {
            font-size: $fontsize-sm;
        }        
    }

}
