article#item{
    margin:auto;
    border:solid $colour-primary 2pt ;
    padding: calc(#{$padding-std} + #{$padding-std});
    padding-top: $margin-lg ;
    border-radius: $padding-std;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    & figure{
        display: flex;
        flex-direction: row;
        @media (max-width: 1099px) {
            flex-direction: column;
        }        
        & figcaption {
            flex-grow: 1;
            padding-left: calc(#{$padding-std} + #{$padding-std});
            @media (max-width: 1099px) {
                padding-left: 0;
            }        
                display: flex;
            flex-direction: column;
            & p + * {
                margin:0;
                margin-top : $padding-std;
            }
            & form {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & div{
                    width: 100%;
                }
                align-items: flex-end;
                & select{
                    margin-bottom: $padding-std;
                }

            }
        }
    }
    & img{
        width: 50%;
        min-width: $height-item;
        @media (max-width: 1099px) {
            width: 100%;
            margin-bottom: $padding-std;
        }        
        border-radius: 30px;
        object-fit: cover;
    }
    & h1{
        margin:0;
        background-color: white;
        padding-top: 0;
        padding-bottom: 0;
        line-height: calc(#{$padding-std} + #{$padding-std});
        position: absolute;
        top:-$padding-std;
    }
}
