button{
    margin:auto;
}

.item-btn{
    background-color: transparent;
    border:none;
    &::before{
        content: '+';
        @include dimIcon;
        font-size: $height-icon;
        color: $colour-primary;
        border : solid $border-width-md $colour-bkg-section;
        background-color:$colour-bkg-section;
        cursor: pointer;
    }
    &:hover::before{
        @include boxshadow;
        color: $colour-secondary;
    }
}

.btn{
    background-color:$colour-primary--lighter;
    font-weight: bold;
    padding:$padding-sm $padding-std; 
    border:none;
    border-radius: $padding-std;
    cursor:pointer;
    &:hover{
        background-color: $colour-secondary;
        @include boxshadow;
    }

    &.btn-addToCart{
        max-width: auto;
    }
    &.unclickable{
        cursor:not-allowed;
        color: $colour--unavail;
        background-color: $colour-bkg--unavail;
        &:hover{
            box-shadow: none;
        }
    }    
}


.btn-close{
    position: absolute;
    top:$padding-dialog;right:$padding-dialog;
    box-sizing: border-box;
    background-color: transparent;
    border:none;
    display: block;
    cursor: pointer;
    &::before{
/*        content:"\f00d";*/
        @include iconNav;
    }
    &:hover{
        &::before{
            @include boxshadow;
            background-color: $colour-secondary;
        }
    }
}

.nav-btn{
    display: flex;
    justify-content: space-around;
    & a{
        max-height: $height-icon;
        line-height: $height-icon;
        position: relative;
    }
    & a:focus{
        outline: none;
    }
    
    & .right::after{
        @include iconNav;
        position: absolute;
        right: calc(-#{$height-icon} - #{$padding-sm});top:0;
    }
    & .left::before{
        @include iconNav;
        position: absolute;
        left: calc(-#{$height-icon} - #{$padding-sm});top:0;
    }
    & .left:hover::before, .right:hover::after{
        background-color: $colour-secondary;
        @include boxshadow;
    }
}


.showUL::before,
.showUL::after{
    transform: rotate(180deg);
    transition: transform $std-duration ease-in-out;
}

.hideUL::after{
    transition: transform $std-duration ease-in-out;
}

