table{
    position: relative;
    border-collapse: collapse;
    margin: auto;
    & tr > th {
        background-color: $colour-primary--bkg;        
        border : solid $border-width-md darken($colour-primary--bkg, 1) ;
    }
    & td, th {
        padding:$padding-std;
        text-align: center;
    }
    & .nowrap{
        white-space: nowrap;
    }
    & tbody td{
        border : solid $border-width-md darken($colour-primary--bkg, 1);
    }
}

figure.table{
    margin: auto 0;
    padding: $padding-std ;
    display: flex;
    justify-content: center;
    position:relative;
    max-width: 100%;

    & table{
        transition: all $std-duration ease-in-out;
        @media (max-width: 699px) {
            transform: scale(0.7) ;
            overflow:hidden;
            transform-origin: center center;
        }        
    }        
}