table{
    position: relative;
    border-collapse: collapse;
    margin: $padding-std auto;


    & tr > th {
        background-color: $colour-primary--bkg;        
        border : solid $border-width-md darken($colour-primary--bkg, 1) ;
    }
    & td, th {
        padding:$padding-std;
        text-align: center;
    }
    & .nowrap{
        white-space: nowrap;
    }
    & tr:not(:last-child):not(:first-child) > td{
        border : solid $border-width-md darken($colour-primary--bkg, 1);
    }
}

figure.table{
    & table{
        display: block;
        transition: transform $std-duration ease-in-out;
        @media (max-width: 699px) {
            transform: scale(0.7) ;
            transform-origin: center center;
        }        
    }        
}