table{
    position: relative;
    border-collapse: collapse;
    margin: $padding-std auto;


    & tr > th {
        background-color: $colour-primary--bkg;        
        border : solid $border-width-md $colour-primary--bkg;
    }
    & td, th {
        padding:$padding-std;
        text-align: center;
    }
    & .nowrap{
        white-space: nowrap;
    }
    & tr:not(:last-child):not(:first-child) > td{
        border : solid $border-width-md $colour-primary--bkg;
    }
}