footer{
    flex-wrap: wrap;
    width: calc(100% - #{$padding-std} - #{$padding-std});
    flex-shrink: 0;
    display: flex;
    flex-direction: row;        
    @media (max-width: 599px) {
        flex-direction: column;        
    }
    justify-content: space-between;
    padding:$padding-std ;
    position: relative;
    @media (max-width: 1099px) {
        justify-content: space-evenly;
    }


    & *{
        white-space: nowrap;
    }
    & h2,h3{
        width:100%; padding: $padding-std 0;
    }    
    & h2{
        font-size: $fontsize-xlg;
        font-family: $font-logo,$font-main,Times,serif;
        font-weight: normal;  
        margin-bottom: 0;
    }
    & section{
        margin-top: 0;
        max-width: 30%;
        @media (max-width: 1099px) {
            max-width: 50%;
        }
        @media (max-width: 599px) {
            max-width: 100%;
        }
            display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & >ul>li + li{
            padding-top: $padding-sm;
        }
        &.right{
            @media (max-width: 599px) {
                text-align: left;
            }    
        }
        &.center{
            @media (max-width: 1099px) {
                max-width: calc(100% - #{$padding-std} - #{$padding-std});
                position: absolute;
                top:calc(100% - #{$padding-std});
                left:0;
                padding: 0 $padding-std $padding-std $padding-std;
                
            }
            & h3{
                @media (max-width: 599px) {
                text-align: left;
                }
            }    
    
            & ul{
                display: flex;
                flex-direction: row;;
                justify-content: center;
                align-items: center;
                & > *{
                    width:50%;
                    & a{
                        display: flex;
                        flex-direction: column;
                        & span.fas{
                            font-size: $fontsize-icon-md;
                        }
                    }
                    
                }
            }
        }
        & li.socials{
            display: flex;
            flex-direction: row;
            & ul{
                display: flex;
                flex-direction: row;
                & li{
                    flex-grow: 1;
                    font-size: $fontsize-icon-sm;
                    & + li{padding-left:$padding-sm;}
                }
                & + span{
                    display: flex;align-items: center;
                    padding-left:$padding-sm;
                    @media (max-width: 1300px) {
                        display: none;
                    }                        
                }
            }
        }  
    }
}

