footer{
    width: calc(100% - 40px);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px ;
    & h2,h3{
        width:100%; margin:20px 0 20px 0;
    }    
    & h2{
        font-size: $fontsize-xlg;
        font-family: $font-logo,$font-main,Times,serif;
        margin-bottom: 0;
    }
    & section{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & >ul>li + li{
            margin-top: 10px;
            }
        &.center{
            text-align: center;
            & ul{
                display: flex;
                flex-direction: row;;
                justify-content: center;
                align-items: center;
                & > *{
                    width:50%;
                    & a{
                        display: flex;
                        flex-direction: column;
                        & span.fas{
                            font-size: $fontsize-icon-md;
                        }
                    }
                    
                }
            }
        }
        &.left{text-align: left;}
        &.right{text-align: right;}
        & li.socials{
            display: flex;
            flex-direction: row;
            & ul{
                display: flex;
                flex-direction: row;
                & li{
                    flex-grow: 1;
                    font-size: $fontsize-icon-sm;
                    & + li{margin-left:10px;}
                }
                & + span{
                    display: flex;align-items: center;
                    margin-left:10px;
                }
            }
        }  
    }
}

