header{
    
    padding:20px 20px 0 20px ;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;


    & img{
        max-height: 100px;
    }

}


#cart{
    color:$colour-primary;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    & span.fa{
        font-size: $fontsize-icon-lg;
        padding:15px;
        position: relative;
        & span#cart-counter{
            display: block;
            width:30px;height:30px;
            line-height: 30px;
            font-size: 16px;
            position: absolute;
            left:0;bottom:0;
            background-color: white;
            border-radius: 50%;
            text-align: center;
            border: solid 2pt $colour-primary;
        }      
    }
}

nav {
    margin:auto;
    width: calc(100% - 300px);
    margin-top: 20px;

    &> ul{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & li>ul{
            display: flex;
            flex-direction: row;
        }
    }
    & .nav-tab{
        font-weight: bold;
        background-color:$colour-primary--lighter;
        border-radius:15px 15px 0 0;
        line-height: 20px;
        padding:15px;
        position: relative;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        & + .nav-tab{
            margin-left: 10px;
        }
        &.active{
            z-index: 100000;
            background-color: white;
            &::after{
                content:'';
                background-color: white;
                position: absolute;
                bottom:-15px;left:0;right: -15px;
                height: 15px;
            }
            &.last-tab::after{
                right: 0;
            }
    }
    }
}