header{
    padding:$padding-std $padding-std 0 $padding-std ;
    @media (max-width: 599px) {
        padding:0 $padding-std  ;
    }    
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: $height-header;
    & a{
        position: relative;
        height: calc(#{$height-header} - #{$padding-std} - #{$height-tabs});
        transition: all  $std-duration ease-in-out  ;
        @media (max-width: 599px) {
            height: calc(#{$height-header} - #{$padding-std} - #{$height-tabs} - 30px);
        }
            & img{
            max-height: 100%;
        }
    }
}

nav{
    & *{
        white-space: nowrap;
    }
    margin:auto;
    margin-top: $padding-std;
    min-width: calc(#{map-get($calcMainWidth, xxlg)} + #{$padding-std} + #{$padding-std});
    @media (max-width: 1299px) {
        min-width: calc(#{map-get($calcMainWidth, xlg)}  + #{$padding-std} + #{$padding-std});
    }    
    @media (max-width: 1099px) {
        min-width: calc(#{map-get($calcMainWidth, lg)}  + #{$padding-std} + #{$padding-std});
    }    
    @media (max-width: 799px) {
        min-width: calc(#{map-get($calcMainWidth, sm)}  + #{$padding-std} + #{$padding-std});
        margin-left: -$padding-std;
    }    

    &> ul{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & li>ul{
            display: flex;
            flex-direction: row;
        }
    }
    & .nav-tab{
        &:not(.last-tab){
            padding-right: $padding-std;
        }
        & a {
            font-weight: bold;
            background-color:$colour-primary--lighter;
            border-radius:$padding-sm $padding-sm 0 0;
            padding:$padding-sm;
            position: relative;
            display: inline-block;
            height: $padding-std;
            @include boxshadow;
            white-space: nowrap;
        }

        &:first-child a{
            @media (max-width: 799px) {
                border-radius:0 $padding-sm  0 0;
            }
        }

        &.hidden:not(.active){
            opacity:0;
            position:absolute;left:-100000px;
        }

        &:not(.active) a:hover{
            color:$colour--unavail;
        }    
        &.last-tab a {
            @media (max-width: 799px) {
                border-radius:$padding-sm 0 0 0;
            }
        }    
        &.active{
            & a {
            z-index: 1;
            background-color: $colour-bkg-section;
            }
            & a::after{
                content:'';
                background-color: $colour-bkg-section;
                position: absolute;
                bottom:-$padding-std;left:0;right: -$padding-std;
                height: $padding-std;
            }
            &.last-tab a::after{
                right: 0;
            }
      }
    }

    &#nav-product{
        margin: 0 0 $margin-lg 0;
        min-width: 100%;max-width: 100%;
        & ol{
            display: flex;
            list-style: none;
            position: relative;
            @media (max-width: 999px) {
                flex-direction: column
            }
            & li{
                padding-right: $padding-sm;
            }
            & li + li::before{
                content: '>';
                font-weight: bold;
                padding: 0 $padding-sm 0 0 ;
            }
        }
    }
}


section header{
    padding:0;
}




#cart{
    transition: transform $std-duration ease-in-out  ;
    @media (max-width: 599px) {
        transform: scale(0.75);
        transform-origin: right center;
    }
    
    color:$colour-primary;
    display: flex;
    justify-content: center;
    width: calc(#{$margin-xxlg} - #{$padding-std});
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
        & span.fa{
        font-size: $cart-dimensions;
        padding:$padding-std;
        position: relative;
        color:$colour-primary;
        height: $cart-dimensions;
        width: $cart-dimensions;
        & span#cart-counter{
            @include cartCounter;
            background-color: $colour-bkg-section;
            border: solid $border-width-md $colour-primary;
            &::before{
                content:'+1';
                box-sizing: border-box;
                @include cartCounter;
                color:$colour-bkg-section;
                background-color: $colour-secondary;
                border: solid $border-width-md transparent;
                opacity: 0;
            }
            &.addOne::before{
                animation: appear $xlong-duration ease-in-out 1 both ;
            }
        }
        
    }
    &:hover{
        text-shadow: $shadow ;
        & span#cart-counter{
            @include boxshadow ;
            color:black
        }
    }
}

@keyframes appear {
    from {
    opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(2);  
    }
  }


